#menu {
  list-style: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-size: 1.3em;
  font-weight: bold;
  padding: 0;
}

#menu li {
  padding: 0;
  margin: 0 7px 0 0;
}

#menu li a {
  display: inline-block;
  color: #272727;
  text-decoration: none;
}

.front-profile {
    padding-bottom: 30px;
    padding-top: 20px;
    overflow: hidden;
}

.front-profile img {
    // max-height: 420px;
    width: 100%;
}