a {
  text-decoration: none;
}

.meta {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    color: #aaa;
    margin-top: -10px;
}

.post {
    margin-bottom: 100px;
}

.drop-cap {
    font-family: "Harriet Display", Georgia, Times;
    font-size: 5.5em;
    line-height: 0.8em;
    margin-right: 0.15em;
    float: left;
}