$heading-font-family: "Helvetica Neue", Helvetica, Arial;

a {
  text-decoration: none;
}

.meta {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    color: #aaa;
    margin-top: -10px;
}

.post {
    margin-bottom: 100px;
}

.drop-cap {
    font-family: "Harriet Display", Georgia, Times;
    font-size: 5.5em;
    line-height: 0.8em;
    margin-right: 0.15em;
    float: left;
}

// Movies =========================

.movie-post {
    margin-bottom: 30px;
}

.movie-post-title {
    font-size: 1.5em;
}


// Longform =======================

.longform-title {
    font-family: $heading-font-family;
    margin-top: 30px;
    font-size: 2em;
    font-weight: 200;
    line-height: 95%;
}

.longform-subtitle {
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: $heading-font-family;
    font-size: 1.5em;
    font-weight: 100;
    line-height: 95%;
}

.longform-meta {
    margin-bottom: 30px;
    font-family: $heading-font-family;
    font-weight: 200;
    color: #aaa;
}

.longform-post {
    margin-bottom: 200px;
}

.longform-post > p {
    line-height: 2;
    padding-bottom: 2.5em;
}

.longform-post > h4 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.3em;
    border-bottom: 1px solid #222;
    font-weight: 200;
}