$heading-font-family: "Helvetica Neue", Helvetica, Arial;

a {
  text-decoration: none;
}

.meta {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    color: #aaa;
    margin-top: -10px;
}

.post {
    margin-bottom: 100px;
}

.drop-cap {
    font-family: "Harriet Display", Georgia, Times;
    font-size: 5.5em;
    line-height: 0.8em;
    margin-right: 0.15em;
    float: left;
}

// Movies =========================

.movie-post {
    margin-bottom: 30px;
}

.movie-post-title {
    font-size: 1.5em;
}

// Visuals ========================

.visuals-post {
  margin-top: 30px;
}

.visuals-post img {
  max-height: 150px;
  max-width: 150px;
}

.visuals-post-thumbnail:hover {
  opacity: 0.9;
}

.visual-post-content {
  margin-bottom: 200px;
  margin-top: 30px;
}

.visual-post-content img {
  width: 100%;
}


// Longform =======================

.longform-title {
    font-family: $heading-font-family;
    margin-top: 30px;
    font-size: 2.5em;
    font-weight: 200;
    line-height: 95%;
}

.longform-subtitle {
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: $heading-font-family;
    font-size: 1.8em;
    font-weight: 100;
    line-height: 95%;
}

.longform-meta {
    margin-bottom: 30px;
    font-family: $heading-font-family;
    font-weight: 200;
    color: #aaa;
}

.longform-post {
    margin-bottom: 200px;
}

.longform-post > p {
    line-height: 2;
    padding-bottom: 2.5em;
}

.longform-post > h4 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.7em;
    font-weight: 300;
}


// Progress Bar ==============================

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: 1px;
  margin-bottom: 5px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: red;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: rgb(80,105,136);;
}

progress::-moz-progress-bar {
  background-color: rgb(80,105,136);;
}