<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400' rel='stylesheet' type='text/css'>
  <title>{{ site.name }}</title>
  {% stylesheet application %}
  {% javascript application %}
  {% include analytics.html %}
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-10 text-right">
        {% include header.html %}
      </div>
    </div>
    <div class="row" id="main">
      <div class="col-md-3">
        <ul id="menu">
            <li><a href="/blog">Blog</a></li>
            <li><a href="/writing">Writing</a></li>
            <li><a href="/visuals">Visuals</a></li>
            <li><a target="_blank" href="//flickr.com/photos/zaci/">Photography</a></li>
            <li><a href="/movies">Movies</a></li>
        <ul>
      </div>
      <div class="col-md-7 text-justify" id="right">{{ content }}</div>
    </div>
  </div>
</body>
</html>